*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
  background-color: rgba(35, 14, 61, 1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  overflow-x: hidden;
}
/* all header style */
.style-1{
    background: linear-gradient(to bottom, #a855f7, #ec4899, #f97316);
    font-size: 20px;
    font-size: 30px;
    -webkit-background-clip: text;
    background-clip: text;  
    -webkit-text-fill-color: transparent;
}

.navbar{
    max-width:1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 5%;
    margin:0;
    text-align: center;
}
.logo {
    color:rgba(255, 255, 255, 1) ;
    font-size: 30px;
    font-weight:700px ;

}

.nav-links{
    display: flex;
}
nav ul{
    display: flex;
    gap: 32px;

}
nav ul li {
    list-style-type: none;
}
nav ul li a{
    list-style-type:none;
    font-size: 16px;
    font-weight: 500px;
    line-height: 120%;
    color:rgba(255, 255, 255, 1);
    text-decoration: none;
}

.btn{
    width: auto;
    white-space:nowrap;
    font-size: 16px;
    font-weight: 600px;
    line-height: 19px;
    color:  rgba(255, 255, 255, 1);
     background: linear-gradient(
  47.64deg,
  rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1) );
   border-radius:20px ;
    padding: 12px 24px;
    cursor: pointer;
}

/* all  banner style  */
.hero-banner{
    background-image: url(./assets/hero-bg.png);
     width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction:column;
    align-items: center;
}



.text{
    font-size: 60px;
    font-weight: extra bold;
    color:rgba(255, 255, 255, 1);
    margin-top: 20px
}
.paragrap{
color: rgba(255, 255, 255, 1);
font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;

}
.mic-parent{
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    
}

.circle{
    width: 350px;
    height: auto;
}

.round{
    width: 100px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.new{
    
    font-size: 18px;
    line-height: 22px;
    font-weight:700px;
    background-color: #00FF88;
    color: black;
    padding: 6px 15px;
    display: inline-block;
    position:absolute;
    left: 70%;
    top: 10px;
    border-radius: 20px;
    box-shadow: 0px  3px 27px 0px rgba(0, 255, 136, 0.5);;
    
}
.primary{
    gap: 20px;
}

.spotify{
    color:rgba(255, 255, 255, 1);
    font-size:16px;
    font-weight: 600px;
    line-height: 19px;
    letter-spacing: 0%;
    background:linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    padding: 12px 20px 12px 20px;
    border-radius: 10px;
    margin-right: 8px;
    margin-top: 24px;
    cursor: pointer;
}
.message{
     color:#00FF88;
    font-size:16px;
    font-weight: 600px;
    line-height: 19px;
    letter-spacing: 0%;
    background-color:black;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
}

/* section-about style */
#about-container{
 max-width: 1200px;
 padding: 0px 20px;
 margin: 80px auto;

}
#about-container,.about-content{
    margin:0px auto;
    text-align: center;

}
.textstyle{
    font-size: 16px;
    font-weight: 700px;
    color: aliceblue;
}
.tex-1{
    font-size:48px;
    font-weight: 700px;
    color: aliceblue;
    margin-top: 50px;
    margin-bottom:16px;

    
}
.textmore{
    padding-bottom: 30px;
}

/* all state-container style */
#state-container{
    max-width: 1200px;
   display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}
.state-box h3{
    color: #00ff88;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 8px;
    letter-spacing: -1px;
    margin-top: 80px;

}

.state-box p{
    font-size: 14px;
    font-weight: 400px;
    line-height: 20px;
    color: white;
    text-align: center;


}

/* /* all style mid section  */
    
      .grid-container{
        max-width: 1600px;
        margin: 0 auto;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "title title title"
         "Premium Mobile Mobile"
          "Premium Global Global"
          "Exclusive Exclusive Resources";
      }

.techno{
    grid-area:title;
    font-size: 24px;
    font-weight: 700;
    color: white;
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    margin-top: 120px;

    
}
 /* .box-tech-1 */
 .box-tech-1,.box-tech-2,.box-tech-3,.box-tech-4.box-tech-5{
    
    border: 1px solid rgba(145, 0, 248, 1);
    width: 100%;
    border-radius: 40px;
    background-color: #23114a;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 20px; */
    text-align: left;
}

 .box-tech-2, .box-tech-3,.box-tech-4,.box-tech-5{
 border: 1px solid rgba(145, 0, 248, 1);
    width: 100%;
    border-radius: 40px;
    background-color: #23114a;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

} 
 
.box-tech-1 img{
    width: 60px;
}
.box-tech-1 h3{
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    margin: 0;
}
.box-tech-1 p{
    color:#FFFFFF ;
    font-size: 1rem;
    font-weight: 300;
    margin: 1rem;
    text-align: left;
    
}
/* box-tech-2 */
.box-tech-2 h3{
     font-size:1.5rem ;
     font-weight: 700;
     margin-top: 1rem;
     color:  rgba(255, 255, 255, 1);
     text-align: left;
}
.box-tech-2 p{
color: #FFFFFF;
font-size:1rem ;
font-weight: 700;
text-align: left;
letter-spacing: 0%;
}

/* box-tech-3 style */

.box-tech-3 h3{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;

}
.box-tech-3 p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
}
 /* box-tech-4 */
 .box-tech-4 h3{
    color: white;
    font-size: 24px;
    font-weight: 700;
 }
  .box-tech-4 p{
     color:white ;
     font-size: 1rem;
     font-weight: 700;
     margin-top: 1rem;
}

 /* .box-tech-5 */
  .box-tech-5 h3{
    color: white;
    font-size: 24px;
    font-weight: 700;
  }
   .box-tech-5 p{
    color: white;
    font-size: 1rem;
    font-weight: 700;

}  

/* styles grid area */
.techno {
  grid-area: title;
}

.box-tech-1 {
  grid-area: Premium;
}

.box-tech-2 {
  grid-area: Mobile ;
}

.box-tech-3 {
  grid-area: Global;
}

.box-tech-4 {
  grid-area: Exclusive;
}

.box-tech-5 {
  grid-area: Resources;
}
/* feature style */
#featured-container{
    padding: 80px 20px;
    text-align: center;
    background-color: #0f0821;
    color: white;
}
.Featured-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.video-card{
    border-radius:25px ;
    border: 1px solid rgba(145, 10, 241, 0.74);
    overflow: hidden;
    text-align: left;
    padding-bottom: 20px;
    background-color: rgba(37, 13, 68, 1);
    text-align: center;
    align-items:center;
    flex-direction: column;
    width: 100%;
    

}
.video-card h3{
    font-size: 22px;
    padding:15px 20px  5px;
}
.para-text{
    font-size: 1rem;
    padding: 0px 20px;
    margin-bottom: 15px;
    
}
.duration{
    color: #00ff88; 
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 8px;
    margin-top: auto;        
    padding-top: 15px;
    color: #00FF88;
    
}

.youtube-box iframe{
    width: 400px;
     height: 225px;
    border-radius: 24px 24px 0px 0px;    
}

.para-text{
    font-size: 1rem;
    font-weight: 300;
    color: lightslategray;
    text-align: left;
}

/* host container style */

#host-container{
    background-color:#0f0821;
    padding: 60px 20px;
    text-align: center;
    color: white;   
}
.host-title h2{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 40px;
}

.host-card{
    background-color: #1a0b2e;
    border: 1px solid rgba(145, 0, 248, 0.4);
    border-radius: 40px;
    display: flex;     
    align-items: center; 
    gap: 40px; 
    padding: 40px;          
} 
.host-card h3{
    text-align: left;
    font-size: 2rem;
    margin-bottom: 10px;
}

.host-card p{
    text-align: left;
    margin-bottom: 15px;
}

.host{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
 
.social-host{
    display: flex;
    gap: 20px;
    margin-top: 5px;
    
    
}
.social-host a{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255,255,255,0.4);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.social-host img{
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* footer style */
.footer-section{
    background-image: url(./assets/footer-bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction:column;
    align-items: center;

}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.footer-text{
    color: white;
    font-size: 2.9rem;
}
.wave{
    background:linear-gradient(
       rgba(247, 233, 63, 1),
       rgba(251, 9, 180, 1),
       rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    background-clip: text;  
    -webkit-text-fill-color: transparent;
    
}

.soical-links{
    width:auto;       
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    gap: 30px;
    
}

.soical-links a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight:300 ;
    display: flex;
    align-items: center;
    gap: 8px;
}
.soical-links img{
    width: 24px;
    height: 24px;
}


.copyright{
    color: white;
    margin-top: 32px;
}



/* responsibe tools */

@media screen and (min-width:576px) and (max-width:992px) {
    .navbar{
        padding: 16px 20px;
    }
    .nav-links, .btn{
        display: none;
    }
    .fa-bars{
        display: block;
        font-size: 24px;
        color: white;
    }
    .text{
        font-size: 36px;
        text-align: center;
    }
    .paragrap{
        font-size: 14px;
        padding: 0 10px;
    }
    .mic-parent{
        width: 240px;
        height: 240px;
    }
    
    .circle{
        width: 240px;
    }
    .round{
        width: 70px;
    }
    .new{
        font-size: 12px;
        left: 67%;
        top: 5px;
    }
    /* # state-container  */
    #state-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
        padding: 40px 20px;
    }
    .state-box h3{
        margin-top:0;
        font-size: 2rem;
    }

    .state-box p{
        font-size: 12px;
    }
    /* #mid-section */
    .grid-container {
         display: flex !important;    
        flex-direction: column !important;
        gap: 20px;
        padding: 20px;
    }

    .techno, .box-tech-1, .box-tech-2, .box-tech-3, .box-tech-4, .box-tech-5 {
        grid-area: auto !important;     
        width: 100% !important;
        padding: 30px 20px;
        border-radius: 20px;
        display: block; 
        margin-top:0;            
    }

    .grid-container img {
        width: 50px;
        margin-bottom: 15px;
    }

    
    .techno h3 {
        font-size: 1.8rem;
        text-align: center;
        margin-bottom: 20px;
    }

       /* featured content */
    .Featured-content{
       grid-template-columns: 1fr;
         
    }
      
    }
    .youtube-box iframe{
      width:100%;
       height: 100%;
    }
       

    .host-card{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .host-photo{
        justify-content: center;
        width: 150px;
    }
    .social-host{
        justify-content: center;
    }

    /* footer */
    #footer-section{
        padding: 40px 15px;
        margin-top: 60px;
        background-size: cover;
        padding: 60px 15px 30px 15px;
        
    }
    .footer-text{
        font-size: 2rem;
    }
    .soical-links{
        width: fit-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: start;
        gap: 20px 40px;
    }
    .soical-links a{
        font-size: 0.9rem;
    }
    .copyright{
        text-align: center;
        margin-top: 60px;
        font-size: 0.8rem;
    }
}


