*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background-color: rgba(35, 14, 61, 1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* all header style */
.style-1{
    background: linear-gradient(to bottom, #a855f7, #ec4899, #f97316);
    font-size: 20px;
    font-size: 30px;
    -webkit-background-clip: text;
    background-clip: text;  
    -webkit-text-fill-color: transparent;
}

.navbar{
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px 16px 200px;
}
.logo {
    color:rgba(255, 255, 255, 1) ;
    font-size: 30px;
    font-weight:700px ;

}

.nav-links{
    display: flex;
}
nav ul{
    display: flex;
    gap: 32px;

}
nav ul li {
    list-style-type: none;
}
nav ul li a{
    list-style-type:none;
    font-size: 16px;
    font-weight: 500px;
    line-height: 120%;
    color:rgba(255, 255, 255, 1);
    text-decoration: none;
}

.btn{
    font-size: 16px;
    font-weight: 600px;
    line-height: 19px;
    color:  rgba(255, 255, 255, 1);
     background: linear-gradient(
  47.64deg,
  rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1) );

   border-radius:20px ;
  padding: 12px 16px 12px 16px;
}

/* all  banner style  */
.hero-banner{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    max-width: 1600px;
    flex-direction: column;
    min-height: 100vh;
    
}



.text{
    font-size: 60px;
    font-weight: extra bold;
    color:rgba(255, 255, 255, 1);
    margin-top: 20px
}
.paragrap{
color: rgba(255, 255, 255, 1);
font-family: Inter;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: center;

}
.mic-parent{
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    
}

.circle{
    width: 350px;
    height: auto;
    

    
}
.round{
    width: 100px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.new{
    
    font-size: 18px;
    line-height: 22px;
    font-weight:700px;
    background-color: #00FF88;
    color: black;
    padding: 6px 15px;
    display: inline-block;
    position:absolute;
    left: 70%;
    top: 10px;
    border-radius: 20px;
    box-shadow: 0px  3px 27px 0px rgba(0, 255, 136, 0.5);;
    
}
.primary{
    gap: 20px;
}

.spotify{
    color:rgba(255, 255, 255, 1);
    font-size:16px;
    font-weight: 600px;
    line-height: 19px;
    letter-spacing: 0%;
    background:linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    padding: 12px 20px 12px 20px;
    border-radius: 10px;
    margin-right: 8px;
    margin-top: 24px;
}
.message{
     color:#00FF88;
    font-size:16px;
    font-weight: 600px;
    line-height: 19px;
    letter-spacing: 0%;
    background-color:black;
    padding: 12px 20px 12px 20px;
}

/* section-about style */
#about-container{
 max-width: 1200px;
 padding: 0px 20px;
 margin: 80px auto;

}
#about-container,.about-content{
    margin:0px auto;
    text-align: center;

}
.textstyle{
    font-size: 16px;
    font-weight: 700px;
    color: aliceblue;
}
.tex-1{
    font-size:48px;
    font-weight: 700px;
    color: aliceblue;
    margin-top: 50px;
    margin-bottom:16px;

    
}
.textmore{
    padding-bottom: 30px;
}

/* all state-container style */
#state-container{
    max-width: 1200px;
   display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}
.state-box h3{
    color: #00ff88;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 8px;
    letter-spacing: -1px;
    margin-top: 80px;

}

.state-box p{
    font-size: 14px;
    font-weight: 400px;
    line-height: 20px;
    color: white;
    text-align: center;


}

/* /* all style mid section  */
    .mid-section{
        /* border: 1px solid red; */
    }
      .grid-container{
        max-width: 1600px;
        margin: 0 auto;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr,1fr.1fr;
        grid-template-areas: 
        "title title title"
         "Premium Mobile Mobile"
          "Premium Global Global"
          "Exclusive Exclusive Resources";
      }

.techno{
    max-width: 1200px;
    font-size: 24px;
    font-weight: 700;
    color: white;
    max-width: 1200px;
    text-align: center;
    /* margin-top: 120px; */
    /* padding: 30px; */
    /* margin-bottom:40px ; */
    align-items: center;
    
}
 /* .box-tech-1 */
 .box-tech-1,.box-tech-5{
    
    border: 1px solid rgba(145, 0, 248, 1);
    max-width: 380px;
    border-radius: 40px;
    background-color: #23114a;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 20px; */
    text-align: left;
}

.box-tech-2, .box-tech-3,.box-tech-4{
 border: 1px solid rgba(145, 0, 248, 1);
    max-width: 790px;
    border-radius: 40px;
    background-color: #23114a;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

}
 
.box-tech-1 img{
    width: 60px;
}
.box-tech-1 h3{
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 27px;
    margin: 0;
}
.box-tech-1 p{
    color:#FFFFFF ;
    font-size: 1rem;
    font-weight: 300;
    margin: 1rem;
    text-align: left;
    
}
/* box-tech-2 */
.box-tech-2 h3{
    font-size:1.5rem ;
    font-weight: 700;
    /* margin-top: 1rem; */
    color:  rgba(255, 255, 255, 1);
    text-align: left;
}
.box-tech-2 p{
color: #FFFFFF;
font-size:1rem ;
font-weight: 700;
text-align: left;
letter-spacing: 0%;
}

/* box-tech-3 style */

.box-tech-3 h3{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;

}
.box-tech-3 p{
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 700;
}
 /* box-tech-4 */
 .box-tech-4 h3{
    color: white;
    font-size: 24px;
    font-weight: 700;
 }
  .box-tech-4 p{
     color:white ;
     font-size: 1rem;
     font-weight: 700;
     margin-top: 1rem;
}

 /* .box-tech-5 */
  .box-tech-5 h3{
    color: white;
    font-size: 24px;
    font-weight: 700;
  }
   .box-tech-5 p{
    color: white;
    font-size: 1rem;
    font-weight: 700;

}  

/* styles grid area */
.techno {
  grid-area: title;
}

.box-tech-1 {
  grid-area: Premium;
}

.box-tech-2 {
  grid-area: Mobile ;
}

.box-tech-3 {
  grid-area: Global;
}

.box-tech-4 {
  grid-area: Exclusive;
}

.box-tech-5 {
  grid-area: Resources;
}
/* feature style */
#featured-container{
    padding: 80px 20px;
    text-align: center;
    background-color: #0f0821;
    color: white;
}
.Featured-content{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px 40px;
}
.video-card{
    border-radius:25px ;
    border: 1px solid rgba(145, 10, 241, 0.74);
    overflow: hidden;
    text-align: left;
    padding-bottom: 20px;
    background-color: rgba(37, 13, 68, 1);
    text-align: center;
    align-items:center;
    
    flex-direction: column;

}
.video-card h3{
    font-size: 22px;
    padding:15px 20px  5px;
}
.para-text{
    font-size: 1rem;
    padding: 0px 20px;
    margin-bottom: 15px;
    
}
.duration{
    color: #00ff88; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: auto;        
    padding-top: 15px;
    color: #00FF88;
}
.clock{
    


}
.youtube-box iframe{
    width: 100%;
     height: 100%;
    border-radius: 24px 24px 0px 0px;
    
}

.video-card{ 
    color: white;
    font-size: 24px;
    font-weight:700;
    line-height: 29px;
    text-align: left;
    max-width: 380px;
    gap: 20px;

}
.para-text{
    font-size: 1rem;
    font-weight: 300;
    color: lightslategray;
    text-align: left;
}






/* footer style */
.footer-section{
    background-image: url(./assets/footer-bg.png);
    max-width: 1600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: relative;
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:120px ;

}
.footer-text{
    color: white;
}
.wave{
      background: linear-gradient(to bottom, #a855f7, #ec4899, #f97316);
    font-size: 20px;
    font-size: 30px;
    -webkit-background-clip: text;
    background-clip: text;  
    -webkit-text-fill-color: transparent;
    
}


.soical-links{

}
.soical-links a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight:300 ;
}

.copyright{
    color: white;
    margin-top: 32px;
}



/* responsibe tools */

@media screen and (max-width:576px) {
    .navbar{
        display: none;
    }
    
}

